$body-font-family: Inter;

@forward "vuetify/_settings" with (
  $color-pack: false !default,
  $border-radius-root: 8px !default,
  $body-font-family: $body-font-family !default,

  // button
  $button-height: 56px !default,
  $button-padding-ratio: 1.75 !default,
  $size-scales: (
    "x-small": -4,
    "small": -1,
    "default": 0,
    "large": 1,
    "x-large": 2,
  )
  !default,
  // input field
  $field-control-height: 52px !default,
  $input-control-height: 52px !default,
  $input-font-weight: 500 !default,
  $input-details-line-height: 15px !default,
  $input-details-letter-spacing: 0 !default,
  $input-density: (
    "default": -1,
    "comfortable": -2,
    "compact": -4,
  )
  !default,
  $text-field-details-padding-inline: 0 !default,

  // list
  $list-item-title-font-weight: 600 !default,
  $list-item-icon-margin-end: 16px !default,
  $list-item-padding: 8px 16px !default,
  $list-item-icon-opacity: 1 !default,
  $list-item-subtitle-opacity: 1 !default,

  // overlay
  $overlay-opacity: 10% !default,

  // switch
  $switch-inset-track-height: 24px !default,
  $switch-thumb-height: 16px !default,
  $switch-thumb-width: 16px !default,

  // typography
  $typography:
    (
      "h6": (
        "size": 1.125rem,
        "weight": 600,
        "line-height": 1.375rem,
        "letter-spacing": 0,
      ),
      "subtitle-1": (
        "size": 1.125rem,
        "weight": 600,
        "line-height": 1.375rem,
        "letter-spacing": 0,
      ),
      "body-1": (
        "size": 1rem,
        "weight": 500,
        "line-height": 1.1875rem,
        "letter-spacing": 0.011em,
        "text-transform": none,
      ),
      "body-2": (
        "size": 0.75rem,
        "weight": 400,
        "line-height": 1.25rem,
        "letter-spacing": 0,
        "text-transform": none,
      ),
      "button": (
        "size": 1rem,
        "weight": 600,
        "line-height": 1.1875rem,
        "letter-spacing": 0,
        "text-transform": capitalize,
      ),
    )
    !default,

  $states: (
    "hover": 0.04,
    "focus": 0.06,
    "selected": 0.04,
    "activated": 0.06,
    "pressed": 0.08,
    "dragged": 0.04,
  )
  !default
);
