.f-modal {
  .v-card {
    box-shadow: none !important;
  }

  .f-modal__title {
    padding: 16px;
    text-align: center;
    text-transform: capitalize;
  }

  .f-modal__text {
    padding: 0 !important;
    max-height: 80vh;
    overflow: auto;
  }

  .f-modal__content {
    position: relative;

    .f-modal__close {
      position: absolute;
      top: 12px;
      right: 16px;
    }
  }
}

.f-modal-menu {
  .v-card {
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.2) !important;
  }
}

.f-bottom-sheet {
  .f-modal__content {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .v-overlay__content {
    align-self: flex-end;
    margin: 0;
    overflow: visible;
    width: 100%;
    max-width: 100%;
  }
}

  

  