.f-hint {
  &__activator {
    background-color: rgb(var(--v-theme-greyscale_5));
    border-radius: 14px;
  }

  &__link {
    display: block;
    pointer-events: auto !important;
    font-weight: 500;
    text-decoration: none;
    color: rgb(var(--v-theme-link));
  }

  &__modal-content {
    line-height: 22px;
    font-size: 16px;
    padding: 0 16px 32px 16px;
    text-align: center;
  }
}